.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #252526;
    text-align: left;
    text-transform: capitalize;
    font-weight: bold;
    color: black;
    min-width: 5rem;
    text-overflow: ellipsis;
    line-height: 1;
    transition: 0.3s ease-in;
    cursor: pointer;
  }

  .menu-item:hover,
  .menu-item.active {
    background-color: black;
    color: white;
  }
  
  .menu-item p {
    margin: 0;
    white-space: nowrap;
  }
  
  .menu-item-arrow {
    margin-left: 0.5rem;
    font-weight: inherit;
  }
  